**/target/**

**/.idea/**

**.iml

.idea/dictionaries/shendrickson1.xml

.idea/libraries/Maven__org_apache_maven_plugin_tools_maven_plugin_annotations_3_3.xml

target/classes/ramlContractValidator/annotations/ExcludedFromRaml.class

target/classes/ramlContractValidator/core/comparator/RamlComparator.class

target/classes/ramlContractValidator/core/comparator/RamlDiscrepancy.class

target/classes/ramlContractValidator/core/comparator/ResourceComparator.class

target/classes/ramlContractValidator/core/visitor/AbstractValidatorVisitor.class

*.class

target/generated-sources/plugin/ramlContractValidator/maven/HelpMojo.java

target/maven-plugin-help.properties

.idea/workspace.xml

Raml-Contract-Validator.iml

target/classes/META-INF/maven/com.intuit/raml-contract-validator/plugin-help.xml

target/classes/META-INF/maven/plugin.xml

target/classes/ramlContractValidator/maven/ValidateMojo.class

target/maven-archiver/pom.properties

target/raml-contract-validator-1.0-SNAPSHOT.jar

.idea/encodings.xml
